// Copyright 2021 Manna Harbour
// https://github.com/manna-harbour/miryoku
//
// Miryoku layout for the beekeeb Toucan 36 (3x5 + 3 thumbs per hand).
// Engine vendored from https://github.com/manna-harbour/miryoku_zmk into ../miryoku.
// Customise the layout (alphas, layers, clipboard OS, kludges, etc.) in
// ../miryoku/custom_config.h -- see the miryoku_zmk readme for options.

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/42/toucan.h"
#include "../miryoku/miryoku.dtsi"
